# **R Data Types**

---

## R Data Types

The R programming language has 6 basic data types. These are
*   character
*   double (numeric)
*   integer
*   complex
*   logical

## Character data type

Strings in R are called "characters". A character is denoted by quotations or apostrophes surrounding a letter or phrase.

In [ ]:
# the following string is stored in binary
my_string <- "Baby Yoda is actually not baby Yoda"
my_string

[1] "Baby Yoda is actually not baby Yoda"

In [ ]:
# with apotrophes
my_string <- 'Baby Yoda is actually not baby Yoda'
my_string

[1] "Baby Yoda is actually not baby Yoda"

In [ ]:
# numbers can be stored as strings as well
my_string <- "200"
my_string

[1] "200"

What if we are unsure of the type of value stored in the variable?

We can use the `typeof()` function to check.

In [ ]:
typeof(my_string)

[1] "character"

## Double (numeric)

The most common R data type is a "double" data type, meaning double precision (64-bit storage).  <br>
These can be integers or floating points (decimals).

In [ ]:
# store an integer into the variable my_numeric
my_numeric <- 35
my_numeric

[1] 35

In [ ]:
# identify the data type of the variable my_numeric
typeof(my_numeric)

[1] "double"

In [ ]:
# store a decimal into the variable my_numeric
my_numeric <- 35.2
my_numeric

[1] 35.2

In [ ]:
# identify the class or data type of the variable my_numeric
typeof(my_numeric)

[1] "double"

## Integer

Sometimes we want to store a variable as an integer data type if we know the variable will always be an integer since integers require less storage space.

For the purposes of this class, we will not have to worry of about this issue. However, data scientists encounter storage issues in practice because of the large volume of data in the world!

In [ ]:
# integers are double by default
my_numeric <- 35
my_numeric

[1] 35

In [ ]:
# check data type
typeof(my_numeric)

[1] "double"

In [ ]:
# as.integer converts a number to an integer data type
my_numeric <- as.integer(35)
my_numeric

[1] 35

In [ ]:
typeof(my_numeric)

[1] "integer"

## Complex

Complex data types contain a real and imaginary component and are used to store complex numbers.

Complex numbers are very useful for applications in specific fields (physics, image processing, etc.).

However, the majority of data comprises text or real numbers, therefore we will not be using complex numbers in this course! Phew!

In [ ]:
my_complex <- 3 + 2i
my_complex

[1] 3+2i

In [ ]:
typeof(my_complex)

[1] "complex"

## Logical

Logicals (also known as Boolean data types) are VERY IMPORTANT!!!

They are binary values that take on values of `TRUE` or `FALSE`. In R,
*   `0` is `FALSE`
*   `1` is `TRUE`

In [ ]:
# store a logical variable
my_logical <- TRUE
my_logical

[1] TRUE

In [ ]:
typeof(my_logical)

[1] "logical"

In [ ]:
# store a logical variable
my_logical <- FALSE
my_logical

[1] FALSE

In [ ]:
my_logical <- "TRUE"
typeof(my_logical)

[1] "character"

## R Experiments (Quizzables)

The best way to learn a programming language is to experiment with commands and try to find ways of breaking it!

Try the following exercises. Create a code cell beneath each exercise.

*   Convert the decimal `5.8` to an integer using `as.integer()`. Is this the result what you expected?

In [ ]:
typeof(as.integer(5.8))

[1] "integer"

*   Add a number to a character. What happens?

In [ ]:
"5" + 5

ERROR: ignored

* Convert the character string `'5'` to a number using `as.numeric()`, then add 2. What is the result? What is the resulting data type?

In [ ]:
as.numeric('05') + 2

[1] 7

*   Convert the character `"Yoda"` to a number using `as.numeric()`. What do you observe? Why?

In [ ]:
as.numeric("Yoda")

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

*   Convert the number 200 to a character using `as.character()`. What do you observe? Why?

In [ ]:
as.character(200) + 10

ERROR: ignored

*   Add a number to the logical value `TRUE`. What do you observe. Why?

In [ ]:
typeof(TRUE)

[1] "logical"

* Convert the logical `FALSE` to a number using `as.numeric()`. What do you observe. Why?

In [ ]:
as.numeric(FALSE)

[1] 0

* Convert `5` to an integer using `as.integer` and store as `x`
* What is the data type of `x`?
* Now add 5 to `x` and store as `y`.
* What is the data type of `y`?

In [ ]:
x <- as.integer(5)

In [ ]:
typeof(x)

[1] "integer"

In [ ]:
y <- x + 5
y

[1] 10

In [ ]:
typeof(y)

[1] "double"

* What is the data type of the script `3 * 2 + 0i`? Why?

In [ ]:
typeof(3 * 2 + 0i)

[1] "complex"