# **Homework 3: JSON and Descriptive Statistics (20 points)**

#### **WRITE YOUR NAME HERE**

---
**Instructions**: Complete the lab below.
- <font color=red>Tasks</font> indicated in red must be completed to receive credit
- Include all code for your work
- Include markdown cells with written answers explaining your work when prompted
- **NOTE: Your completed lab must be submitted to Canvas as a .ipynb file by the end of the lab session**
---




<br>

####<font color=red>Organized</font> (1 point)
* Answers should be organized in the following format for organization and readability

<br>

```
# 1. 
This will be the code block to answer the first part of a task
```

1. This will be the text answer/explanation (if prompted) for the first task

```
# 2. 
This will be the code block to answer the second part of a task in a separate code cell
```

2. This will be the text answer/explanation (if prompted) for the second task

<br>

Continue this format for the remaining subtasks

<br>

---

<br>

The following packages are needed to complete the lab

In [1]:
install.packages("RCurl")    # package for working with urls
install.packages("RJSONIO")  # package for working with json files

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘bitops’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
library(RCurl)
library(RJSONIO)

<br>

---

<br>

####<font color=red>Task 1</font>  (2 points)

In this homework assignment, we will work with a JSON dataset containing information about countries of the world.

1. Load the JSON weather data from this [url](https://raw.githubusercontent.com/mledoze/countries/master/countries.json) into R as a list called `countries_list`.
2. Print the class of `countries_list`.

In [5]:
#1.
countryURL <- "https://raw.githubusercontent.com/mledoze/countries/master/countries.json"
apiResult <- getURL(countryURL) 
countries_list  <- fromJSON(apiResult)

In [6]:
#2.
class(countries_list)

[1] "list"

<br>

---

<br>

####<font color=red>Task 2</font> (5 points)

1. (1 point) The code below extracts the first country in the list.

```
countries_list[[1]]
```

What is the official name of the first country? [Hint: `countries_list[[1]]$name$official`].

<br>

2. (2 points) For the first country, print the following values from the JSON list
* official name `$name$official`
* region `$region`
* land area `$area`

<br>

3. (2 points) Store the values from Task 2.2 in a dataframe called `country` with the following column names. Print the dataframe `country`.
* country
* region
* area

In [7]:
#1.
countries_list[[1]]$name$official

[1] "Aruba"

In [8]:
#2.
countries_list[[1]]$name$official
countries_list[[1]]$region
countries_list[[1]]$area

[1] "Aruba"

[1] "Americas"

[1] 180

In [10]:
#3.
country <- as.data.frame(country <- countries_list[[1]]$name$official,

                     region <- countries_list[[1]]$region,

                     area <- countries_list[[1]]$area) 



country

         [,1]
Americas Aruba

<br>

---

<br>

####<font color=red>Task 3</font> (6 points)

The function `create_country()` below takes as input a country from `countries_list` (e.g., `countries_list[[5]]`) and outputs a dataframe similar to Task 3.3.

```
create_country <- function(input_country) {

  country <- data.frame(country = input_country$name$official,
                        region = input_country$region,
                        area = input_country$area)

  return(country)

}
```

<br>

1. (2 points) Call the function `create_country()` using `countries_list[[5]]` as input and show the result.

<br>

2. (2 points) Use `lapply()` to apply the `create_country()` function to each element in `countries_list`. Store the result as `countries_list2`.

<br>

3. (2 points) Use the `do.call()` function from lecture to combine the dataframes in `countries_list2` using `rbind`. Name this new dataframe `countries`. Show the first few lines of `countries` using `head()`.

<br>

In [11]:
# use this function
create_country <- function(input_country) {

  country <- data.frame(country = input_country$name$official,
                        region = input_country$region,
                        area = input_country$area)

  return(country)

}

In [12]:
#1.
create_country(countries_list[[5]])

  country       region area
1 Åland Islands Europe 1580

In [14]:
#2.
countries_list2 = lapply(countries_list, create_country)

In [18]:
#3.
countries = do.call(rbind, countries_list2) 
head(countries)

  country                         region   area
1 Aruba                           Americas     180
2 Islamic Republic of Afghanistan Asia      652230
3 Republic of Angola              Africa   1246700
4 Anguilla                        Americas      91
5 Åland Islands                   Europe      1580
6 Republic of Albania             Europe     28748

<br>

---

<br>

####<font color=red>Task 4</font> (6 points)

1. (2 points) Use `tapply()` to find the average area for each region. What is the region with the largest area on average? State in a complete sentence.

<br>

2. (2 points) Use `tapply()` to find the standard deviation [`sd()`] of area for each region. What is the region with the smallest standard deviation? State in a complete sentence.

<br>

3. (2 points) What does it mean to be the region with the smallest standard devation in area? Explain in complete sentences.

In [19]:
#1.
head(countries)

dat1 = tapply(countries$area, countries$region, mean) 



dat1 = as.data.frame(dat1)

names(dat1) = "area_mean"

dat1$country = rownames(dat1)

rownames(dat1) = 1:6



which.max(dat1$area)

dat1[which.max(dat1$area),]

  country                         region   area
1 Aruba                           Americas     180
2 Islamic Republic of Afghanistan Asia      652230
3 Republic of Angola              Africa   1246700
4 Anguilla                        Americas      91
5 Åland Islands                   Europe      1580
6 Republic of Albania             Europe     28748

[1] 3

  area_mean country
3 2802422   Antarctic

1. Antarctic is the region with the largest area on average.

In [20]:
#2.
head(countries)

dat2 = tapply(countries$area, countries$region, sd) 



dat2 = as.data.frame(dat2)

names(dat2) = "area_sd"

dat2$country = rownames(dat2)

rownames(dat2) = 1:6



which.min(dat1$area)

dat2[which.min(dat2$area),]  # smallest = Africa

  country                         region   area
1 Aruba                           Americas     180
2 Islamic Republic of Afghanistan Asia      652230
3 Republic of Angola              Africa   1246700
4 Anguilla                        Americas      91
5 Åland Islands                   Europe      1580
6 Republic of Albania             Europe     28748

[1] 6

  area_sd  country
1 594928.6 Africa

2. Africa is the smallest standard deviation.

#3. The smallest standard devation means the variance of data is small.